.c-form {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include sp {
        width: 100%;
    }

    &__row {
        margin-bottom: 28px;

        &--error {
            span {
                font-size: 1.4rem;
                color: #fd0000;
                margin-top: 10px;
                display: block;

                @include mq(md, max) {
                    font-size: 1.2rem;
                }
            }

            input {
                border: 1px solid#fd0000 !important;
            }
        }

        >label {
            font-weight: 700;
            font-size: 2rem;
            line-height: 1.4;
            text-transform: capitalize;
            color: #B1B5C3;
            margin-bottom: 12px;
            display: block;

            @include mq(md, max) {
                font-size: 1.6rem;
            }
        }

        >input,
        >textarea {
            width: 648px;
            border: 1px solid #23262F;
            border-radius: 8px;
            background: #222630;
            padding: 9px 20px;
            font-family: $main-fonts;
            font-size: 1.8rem;
            line-height: 1.55;
            color: #FFF;

            @include mq(md, max) {
                font-size: 1.4rem;
                width: calc(100% - 42px);
            }

            ::placeholder {
                font-family: $main-fonts;
                font-size: 1.8rem;
                line-height: 1.55;
                color: #777E90;

                @include mq(md, max) {
                    font-size: 1.4rem;
                }
            }
        }

        >textarea {
            height: 102px;
            resize: none;
        }

        &--distinctive {
            margin-top: 54px;
            margin-bottom: 255px;
            text-align: center;

            @include sp {
                margin-bottom: 150px;
            }

            .check-radio {
                justify-content: center;
            }
        }

        .file-input {
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

        }

        .file-label {
            background: #222630;
            border: 1px solid #23262F;
            border-radius: 8px;
            width: 690px;
            height: 48px;
            font-size: 18px;
            line-height: 1.55;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            font-weight: 400;
            cursor: pointer;

            @include mq(md, max) {
                font-size: 1.4rem;
                width: 100%;
            }
        }

        .name-file {
            color: #B1B5C3;
            font-size: 1.4rem;
        }
    }

    #submit {
        width: 100%;
        height: 52px;
        background: #DC2219;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 0 !important;
        font-weight: 700;
        font-size: 1.6rem;
        color: #FFF;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
            opacity: .7;
        }

        @include mq(md, max) {
            font-size: 1.2rem;
            height: 42px;
        }
    }

    .check-radio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 60px;
        margin-top: 23px;

        @include mq(md, max) {
            gap: 60px 30px;
        }
    }
}

.container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 1.8rem;
    line-height: 1.55;
    color: #777E90;
    padding-left: 32px;

    @include mq(md, max) {
        font-size: 1.4rem;
    }
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #222630;
    border-radius: 50%;

}

.container:hover .checkmark {
    background: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #222630;
    transform: translate(-50%, -50%) rotate(45deg);
}

.container input:checked~.checkmark {
    background: #FFF;
}

.container input:checked~.checkmark:after {
    display: block;
}